{
  "presets": ["env"],
  "plugins": [
  	"transform-vue-jsx",
  	"transform-remove-strict-mode",
  	["component",
  	{
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }]
  ]
}
